@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .helvetica {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
      Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .openOne {
    font-family: "Open Sauce One";
    font-weight: 400;
  }

  .openOneThin{
    font-family: "Open Sauce One";
    font-weight: 300;
  }
}



@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }

 /* Add this CSS to your styles */
.custom-checkbox {
  appearance: none; /* Remove default checkbox appearance */
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  border: 2px solid #656D4A; /* Border color */
  border-radius: 8px; /* Rounded corners */
  position: relative;
  cursor: pointer;
  background-color: transparent; /* Ensure background is transparent */
}

.custom-checkbox:checked {
  background-color: transparent; /* Keep background transparent */
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px; /* Size of the inner square */
  height: 14px; /* Size of the inner square */
  background-color: #656D4A; /* Color of the inner square */
  border-radius: 4px; /* Optional: for rounded corners of the inner square */
  transform: translate(-50%, -50%); /* Center the inner square */
}

/* Hide the default checkmark */
.custom-checkbox:checked {
  outline: none; /* Remove outline */
}
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'jsMath-cmr10 cmr10';
  font-style: normal;
  font-weight: 500;
  src: local('jsMath-cmr10 cmr10'), url('jsMath-cmr10.woff') format('woff');
}
